.header{
    position: fixed;
    width: 100%;
    padding: 40px 24px 0;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    
    &__logo{
        display: inline-block;
        color: #fff;
        font-size: 26px;
        font-weight: bold;
        z-index: 999;
    }

    &__hamburger{
        cursor: pointer;
        z-index: 999;
        &.open{
                
                &>span:nth-child(1){
                    transform: rotate(45deg);
                }
                &>span:nth-child(2){
                    opacity: 0;
                }
                &>span:nth-child(3){
                    transform: rotate(-45deg);
                }
            
        }
        span{
            display: block;
            width: 24px;
            height: 2px;
            background: #fff;
            transform-origin: 2px 1px;
            transition: all 300ms ease-in-out;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }

    &__menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        padding: 160px 0 0 24px;
        background: #000;
        transition: left 500ms ease-in-out;

        &.show{
           left: 0;
        }

        li{
            display: block;
            
            

            a{
                font-weight: 300;
                font-size: 22px;
                line-height: 2.5;
                letter-spacing: 1.2px;
                color: white;
                text-transform: uppercase;
            }
           
        }
    }
}

