.hero{
    background: url('../images/mobile/image-hero.jpg');
    height: 125vh;
    background-size: cover;
    background-repeat: no-repeat;
    

    &__content{
        padding-top: 227px;

    }

    &__text{
        border: 3px solid #fff;
        padding: 20px;

        h1{
            margin: 0;
            font-size: 40px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 300;
            letter-spacing: 3px;
            line-height: 1.1;
            
        }
    }
}